@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
  --background-color: #ece2d8;
  --text-color: #392f46;
  --primary-color: #e2c982;
  --border-color: #93a8d7;
  --border-color-secondary: #d2a400;
  --highlight-color: rgba(226, 201, 130, 0.4);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  padding-bottom: 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 3px double var(--border-color-secondary);
}

header nav ul {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  flex: 0 80%;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navItem a:hover {
  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
  text-shadow: none !important;
  text-decoration: underline var(--border-color-secondary) 5px !important;
  cursor: pointer !important;
}

.navActive {
  color: var(--text-color);
  text-shadow: none !important;
  text-decoration: underline var(--border-color-secondary) 5px;
  cursor: pointer;
}

.hero-quote {
  margin-top: 5rem;
  width: 40%;
  float: right;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  background-color: var(--primary-color);
  background-size: 10px;
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 45px;
  border-top-left-radius: 10px;
}

.hero-body {
  background-image: url("/src/assets/banner/hero-image-small.jpg");
  background-size: cover;
  background-position: center;
}