@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
  --background-color: #ece2d8;
  --text-color: #392f46;
  --primary-color: #e2c982;
  --border-color: #93a8d7;
  --border-color-secondary: #d2a400;
  --highlight-color: rgba(226, 201, 130, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

/* HEADER STYLING */
/* ------------------------------------------------------------------ */

header {
  padding-bottom: 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 3px double var(--border-color-secondary);
}

header h1 {
  margin-top: 10px;
  padding: 10px 60px;
  background-color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 10px;
  font-size: 32pt;
  font-weight: bolder !important;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header nav {
  width: 100%;
}

header nav ul {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  flex: 0 80%;
}

header nav ul li {
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
  width: auto;
}

header nav ul li span:hover {
  color: var(--text-color);
  text-shadow: none;
  text-decoration: underline var(--border-color-secondary) 5px;
  cursor: pointer;
}

.navItem {
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navActive {
  color: var(--text-color);
  text-shadow: none !important;
  text-decoration: underline var(--border-color-secondary) 5px;
  cursor: pointer;
}

/* HERO STYLING */
/* ------------------------------------------------------------------- */

.hero {
  background-image: url("./assets/banner/hero-image-small.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid var(--border-color-secondary);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.hero-quote {
  width: 40%;
  margin: 170px 0px 15px 200px;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  background-color: var(--primary-color);
  background-size: 10px;
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 45px;
  border-top-left-radius: 10px;
}

/* TITLE SECTION STYLING & MAIN BORDER STYLING */
/* ------------------------------------------------------------------- */

.section-title {
  width: 75%;
  padding: 10px 20px 10px 10px;
  margin-top: 10px;
  border-bottom: 3px double var(--border-color-secondary);
  text-align: center;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me,
.resume,
.application-0,
.application-1,
.application-2,
.application-3,
.application-4,
.application-5,
.contact-me {
  border-color: var(--border-color);
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-left: 10px solid var(--border-color);
  border-bottom: 6px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
}

/* ABOUT ME SECTION STYLING */
/* ------------------------------------------------------------------- */

.about-me {
  width: 80%;
  margin: 10px 30px;
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
}

/* WORK SECTION STYLING */
/* ------------------------------------------------------------------- */

.work-content {
  width: 80%;
  /* margin: 0px 20px 10px 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 80%;
}

.application-0,
.application-1,
.application-2,
.application-3,
.application-4,
.application-5 {
  background-size: cover;
  margin: 10px 0px 20px 0px;
  position: relative;
}

.application-0 {
  background-image: url("../src/assets/project-images/Overseer.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-1 {
  background-image: url("../src/assets/project-images/meal-express.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-2 {
  background-image: url("../src/assets/project-images/weather-dashboard.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-3 {
  background-image: url("../src/assets/project-images/note-taker.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-4 {
  background-image: url("../src/assets/project-images/code-quiz.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-5 {
  background-image: url("../src/assets/project-images/password-generator.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.hover-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: var(--highlight-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 8px;
}

.app-title {
  position: absolute;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 10px 20px;
  width: 50%;
  top: 20%;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
}

.application-0 .app-title,
.application-1 .app-title,
.application-2 .app-title,
.application-3 .app-title,
.application-4 .app-title,
.application-5 .app-title {
  font-size: 20px;
}

.work-content a:hover .hover-effect {
  opacity: 0;
}

.application-secondary:hover .hover-effect {
  opacity: 0;
}

/* CONTACT ME SECTION STYLING */
/* ------------------------------------------------------------------- */

.card {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80%;
  background-color: var(--primary-color);
  border-color: var(--border-color);
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-left: 10px solid var(--border-color);
  border-bottom: 6px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
}

.is-link {
  background-color: var(--border-color) !important;
}

.section-row label {
  color: var(--text-color);
}

.contact-me {
  width: 80%;
  margin: 10px 30px;
  padding: 20px;
  text-align: center;
  line-height: 2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
}

.section-row nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-me a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18.72px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  width: 10px;
}

.contact-me a:hover {
  color: var(--text-color);
  text-shadow: none;
  text-decoration: underline var(--border-color-secondary) 5px;
}

/* RESUME SECTION STYLING */
/* ------------------------------------------------------------------- */

.resume {
  width: 80%;
  margin: 10px 30px;
  padding: 20px;
  text-align: left;
  background-color: var(--primary-color);
}

/* RESPONSIVENESS STYLING START-------------LARGE SCREENS----------------------------------- */

/* Media query for 768px+ -----------Preliminary Large Screen Adjustment--------- */
@media screen and (min-width: 768px) {
  header nav ul {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
  }
}

/* Media query for 1200px+ ----------Primary Styling For Large Sceens------------*/
@media screen and (min-width: 1200px) {
  /* HEADER STYLING ----------------- */

  header h1 {
    padding: 10px 60px 10px 100px;
    font-size: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }

  .hero {
    height: 500px;
  }

  .hero-quote {
    border-right: 40px solid var(--primary-color);
    margin-top: 400px;
  }

  /* PRIMARY BODY SECTION STYLING ------------------------ */
  .body-margin {
    background-color: var(--background-color);
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 1px;
    margin-left: 3%;
  }

  .section-row {
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .section-title {
    border-right: 3px double var(--border-color-secondary);
    border-bottom: none;
    font-size: 1.4vw;
    text-align: right;
    flex: 1 10%;
  }

  /* WORK SECTION STYLING ---------------- */
  .application-secondary,
  .application-tertiary {
    flex: 1 45%;
  }

  .app-title {
    font-size: 1.2vw;
  }

  .application-0 .app-title,
  .application-1 .app-title,
  .application-2 .app-title,
  .application-3 .app-title,
  .application-4 .app-title,
  .application-5 .app-title {
    font-size: 1.8vw;
  }
}

/* Medai query for 1718px+ --------------Formatting For Larger Screens-------------*/
@media screen and (min-width: 1718px) {
  .body-margin {
    margin-left: 15%;
    margin-right: 8%;
  }

  header nav ul {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* RESPONSIVENESS STYLING CONTINUE-------------SMALL SCREENS---------------------------- */

/* Media query for MAX 490px ------Nav and Font Size Adjustments for smaller screens-------- */
@media screen and (min-width: 750px) {
}

/* Media query for MAX 290px ---------- Adjustments for smallest screens----------- */
@media screen and (max-width: 290px) {
  .app-title {
    font-size: 12px;
  }

  header h1 {
    border-radius: 0;
  }

  .hero-quote {
    border: none;
    background: none;
  }

  .hero-quote p {
    display: none;
  }

  .app-title h3 {
    font-size: 10px;
  }
}
